body {
  margin: 0;
  padding: 0;
  /* background-image: url("/main01.jpg"); */
  background-image: url("/snowman.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #110585;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

table {
  color: black;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: rgb(201, 255, 52);
}
thead th,
tbody td {
  font-size: 12px;
  font-weight: 500;
  border: 4px solid #30def1;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 720px) {
  thead th,
  tbody td {
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  thead th,
  tbody td {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 4%, 35%);
}
